
  <header class="user-nav row-fluid navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Monkey Post", root_path, :class=>"navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">

        <ul id="primary-nav" class="nav navbar-nav">
          <li class="dropdown open">
            <a href="#" class="dropdown-toggle"></a>
          </li>

          <li></li>
          <li></li>
          <li></li>
        </ul>

        <nav id="user_nav" class="nav navbar-nav navbar-right visible-desktop visible-tablet">
          <% if user_signed_in? %>
            <p class="signed_in_top visible-desktop visible-tablet">Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
          <% end %>
        </nav>
      </div>
    </div>
  </header>